html {
  background-color: #ececec;
}

.color-green {
  color: #71bbc4;
}
.mb-0 {
  margin-bottom: 0;
}
.m-0 {
  margin: 0;
}

/* ============ Hero ========== */
.hero {
  padding-top: 180px;
  background: linear-gradient(180deg, #11202f 7.92%, #223542 100%);
}
.hero img {
  width: 100%;
}

/* ====== Opportunity ======= */
.oppo {
  padding: 0 0 60px;
}
.oppo h2 {
  margin: 0;
}
.oppo .tagline {
  margin-top: 0;
  padding-top: 0;
}
.oppo-banner {
  text-align: center;
  color: white;
  background-image: linear-gradient(180deg, #213340 0%, #122130 100%);
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 40px 30px 90px;
  margin: 40px 0;
}
.oppo-banner h2 {
  font-size: clamp(2rem, 1.2958rem + 2.2535vw, 4rem);
  margin-bottom: 32px;
  text-align: center;
  color: #71bbc4;
  max-width: 20ch;
  margin-left: auto;
  margin-right: auto;
}
.oppo-subhead {
  font-size: clamp(1.5rem, 1.1479rem + 1.1268vw, 2.5rem);
  font-weight: 500;
}
.oppo-banner-footer {
  background-color: white;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
  padding: 40px;
  border-radius: 20px;
  margin-top: -100px;
  margin: -100px 30px 60px;
  text-align: center;
}
/* ============ Info ============*/
.info {
  color: white;
  background-image: linear-gradient(180deg, #122634 3.22%, #223542 40.73%);
  text-align: center;
  padding: 60px 0 0;
}
.info .container {
  padding-bottom: 60px;
}

.info-btn {
  background-color: #71bbc4;
  font-weight: 800;
  padding: 16px 22px;
  border-radius: 50px;
  text-transform: uppercase;
}
.info .tagline {
  font-size: clamp(1rem, 0.6919rem + 0.9859vw, 1.875rem);
  padding-top: 0;
  line-height: 1.5;
}
.info-banner {
  text-align: left;
  color: var(--color-black);
  background-color: white;
  padding: 100px;
  padding: 20px;
  border-radius: 10px;
  margin: 24px 0;
}
/* ======= Payout ========= */
.payout {
  padding-bottom: 60px;
}
.payout-list {
  list-style: none;
  padding: 0;
}
.payout-list p {
  max-width: initial;
  line-height: 2;
  margin-top: 0;
}
.payout-list li {
  max-width: 890px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 20px;
  padding-left: 1em;
}
.payout-list li::before {
  content: '•';
  font-size: 18px;
  position: absolute;
  top: 4px;
  color: #71bbc4;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
/* ============ FAQS ========= */
.faqs {
  color: white;
  background: url(../images/islam-bg.png), linear-gradient(180deg, #122634 3.22%, #223542 40.73%);
  background-repeat: no-repeat;
  background-position: center -10px, center;
  background-size: 500px, cover;
}

.faqs-wrapper {
  padding: 50px 0 60px;
}

.faq__item {
  margin: 0 20px;
}
.accordion {
  text-align: left;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  width: 100%;
  padding: 14px 40px;
  padding-left: 50px;
  border-radius: 10px;
  margin: 0;
  transition: 0.4s;
  color: var(--color-black);
  background-color: white;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.accordion::before {
  content: '';
  position: relative;
  display: inline-block;
  background-image: url('../images/faq-icon.png');
  background-size: contain;
  vertical-align: middle;
  background-repeat: no-repeat;
  padding-right: 2.5em;
  width: 1.3em;
  height: 1.3em;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
}

.accordion:after {
  content: url('../images/plus-icon.svg');
  float: right;
  margin-left: 14px;
  position: absolute;
  right: 20px;
  line-height: 1;
  top: 50%;
  transform: translateY(-50%);
}

.accordion.active:after {
  content: url('../images/minus.svg');
  transition: all 0.5s;
}

.panel {
  font-weight: 400;
  padding: 0 15px;
  margin: 10px 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.panel p {
  font-size: 12px;
}
.faq-list {
  padding-left: 0;
  list-style-type: none;
  margin: 0;
}
.faq-list li {
  line-height: 1.5;
}
.footer-note {
  border-top: 1px solid #71bbc4;
}
.footer-note {
  padding: 40px 0;
  margin: 0 auto;
  max-width: 890px;
}

@media (min-width: 992px) {
  p {
    max-width: 890px;
  }

  /* ======= Opportunity ======= */
  .oppo-banner {
    padding: 100px 100px 120px;
  }
  .oppo-banner-footer {
    margin: -100px 100px 60px;
  }
  /* ========= Info ======= */
  .info p {
    line-height: 1.8;
  }
  .info-banner {
    padding: 40px;
  }
  .info p {
    margin: 28px auto;
    text-align: center;
  }

  /* ============ FAQS ========= */

  .faqs-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    gap: 30px;
  }
  .faq-col {
    flex-basis: 47%;
  }
  .faq-col--lg {
    flex-basis: 100%;
  }
  .faq__item {
    margin: 0;
  }
  .accordion {
    font-size: 16px;
  }
  .panel {
    padding: 0 30px;
    margin: 16px 0 24px;
  }
  .panel p {
    margin-left: 0;
    font-size: 14px;
  }
}
